@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-header: var(--font-poppins);
  --font-heading: var(--font-montserrat);
  --font-body: var(--font-roboto);
  --font-alt: var(--font-mulish);
}

.poppins{
  font-family: var(--font-header), sans-serif !important;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}



h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading), sans-serif;
}

p, span, li, a {
  font-family: var(--font-body), sans-serif;
}


.loader {
  width: 70px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,#da000a 94%,#da000a) top/8px 8px no-repeat,
    conic-gradient(#ec4c4c00 30%,#fa1313);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13{ 
  100%{transform: rotate(1turn)}
}


.favicon{
  width: auto;
  height: 50px;
  position: absolute;

}



.loaderwords {
  position: absolute;
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 1.2rem;
  top: 57%;
  clip-path: inset(0 100% 0 0);
  animation: l5 2s steps(11) infinite;
  color:#da000a;
}
.loaderwords:before {
  content:"Loading..."
}
@keyframes l5 {to{clip-path: inset(0 -1ch 0 0)}}